<%- include('../layouts/header') %>

<h2 class="text-center text-primary">Add New Product</h2>
<a href="/product" class="btn btn-secondary">Back to Products</a>

<form action="/products" method="POST" class="mt-4">
  <div class="mb-3">
    <label class="form-label">Product Name</label>
    <input type="text" name="name" class="form-control" required />
  </div>
  <div class="mb-3">
    <label class="form-label">Price ($)</label>
    <input type="number" name="price" class="form-control" required />
  </div>
  <div class="mb-3">
    <label class="form-label">Category</label>
    <select name="category" class="form-select" required>
        <option value=""></option>
      <option value="Fruits">Fruits</option>
      <option value="Vegetables">Vegetables</option>
      <option value="Dairy">Dairy</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Add Product</button>
</form>

<%- include('../layouts/footer') %>
